@keyframes animateName {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.9);
    }
  }


*{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
article{
    display: flex;
    flex-direction: column;
}

p{
    line-height: 3;
    font-size: 1.3em;
    margin: 0;
}
section{
    background-color: black;
    color: #CCCCCC;
    /* margin-bottom: 2.3%; */
}
.titulo{
    font-size: 3.2em;
    margin: 0;
    color: #c7c538;
}

.subtitulo{
    font-size: 1.8em;
    margin: 0;
    color: #979514;
}
.container-dm{
    display: flex;
    justify-content: end;
}
.bttn-dm{
    color: black;
    position: fixed;
    top: 8%;
    margin-right: 5px;
}

.img-dm{
    width: 25px;
}

.bttn-dm:hover{
    cursor: pointer;
    background-color: white;
}
.main{ 
    padding: 0 10%;
    background-color: #1b8a5162;
}
.estudiante{
    font-size: 2.3em;
    font-weight: lighter;
    color: #B27800;
}

a{
    text-decoration: none;
}
.soy {
    font-size: 3em;
    color: rgb(223, 118, 32);
    animation: animateName 2s infinite alternate;

  }
  
.nav-ul{
padding: 0;
    background-color: #01024b;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.nav-ul> a{
    color: white;
    padding: 15px;
    font-size: 1.2em;
    transition: all 0.4s;
}
.nav-ul> a:hover{
    background-color: #B27800;
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.container-section{
    background-color: rosybrown;
}

.section-sobre-mi{
     display: flex;
    color: #CCCCCC;
}

.sobre-mi-img{
    display: flex;
    align-items: center;
}
.bttn-cv{
    font-size: 1.2em;

    width: 150px;
    align-self: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #8A1B54;
    border-radius: 15px;
}
.bttn-cv:hover{
    background-color: #c907af79;
    cursor: pointer;

}
.bttn-cv:hover a{
    color: white;
    text-decoration: none;
}
.bttn-cv > a {
    color: rgb(240, 233, 233);
}
.bttn-enviar:hover{
    background-color: #c907af79;
    cursor: pointer;
}
.container-sobre-mi{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-yo{
    width: 300px;
    margin-bottom: 100px;
    border: 3px solid black;
    border-radius: 120px;
}

.soy{
    margin-bottom: 25px;
    font-size: 4em;
}
.section-estudios, .section-cursos, .section-contacto, .section-sobre-mi, .section-skills{
    padding: 5% 11%;
    background-color: #1B1C8A;

}
.section-estudios, .section-cursos, .section-contacto, .section-skills{
    border-radius: 50px 50px 0 0;
}
.section-estudios>h3, .section-cursos>h3, .section-contacto>h3{
    padding-bottom: 50px;
}


.footer{
    background-color: #01024b;
    text-align: center;
    font-size: 1.6em;
    color: #FFFFF0;
}
.footer-p{
    margin: 0;
}

.html{
    color: rgb(240, 20, 20);
}

.css{
    color: rgb(0, 183, 255);
}

.js{
    color: #FFFF00;
}
.redes{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.input{
    padding: 10px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    background-color: #1B1C8A;
    border: 0.2px solid rgba(255, 255, 255, 0.781);
    color: #ffefd3;
}

.bttn-enviar{
    width: 300px;
    margin: 20px 0;
    padding: 10px 25px;
    color: white;
    background-color: #8A1B54;
    border-radius: 15px;
    font-weight: lighter;
}
::placeholder {
    color: #ffefd3b4; /* Cambia este color al que desees para el placeholder */
  }

  .p-insti{
    color: #ffffffa6;
  }
.progress-bar{
    font-size: 2em;
}

/*------------------------------------------ MODO OSCURO------------------------------------------ */
.modo-oscuro{
    background-color: black;
    color: white;
}

.modo-oscuro-main{
    background-color: rgba(85, 83, 83, 0.904);
}
.wave-blue path {
    fill: #000000 !important; 
}
.wave-rosa path {
    fill: rgba(85, 83, 83, 0.904) !important; 
}

.yo-black{
    display: none;
    border: 2px solid white;
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}

/*------------------------------------------ MODO OSCURO------------------------------------------ */


/*------------------------------------------ MEDIAS------------------------------------------ */

/*------------------------------------------ MEDIAS------------------------------------------ */



  @media (max-width: 820px){
    .img-yo{
        display: none;
    }
  }
  /* @media (max-width: 768px){
    .barra-nav{
        display: none;
    }
    .barra-burguer{
        display: block;
    }

  } */
  @media (max-width: 745px){
    .redes{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-ul{
        flex-wrap: wrap;

    }
    .main{
        padding: 0;
    }
  }

